// Ref: https://github.com/nuxt-community/vuetify-module#customvariables

// Ширина эрана при которой надо рисовать как телефон или планшет
$break-point: 1000px;

// Шрифты

// Переменные
:root {
  --color-primary: black;
  --color-reverse: white;

  --background-color-primary: #111111;
  --background-color-secondary: #252525;
  --background-color-extra: #464646;
  --background-color-reverse: white;
  --background-transparent: rgba(0, 0, 0, .5);

  --text-color-primary: white;
  --text-color-secondary: #c0c0c0;
  --text-color-reverse: black;
  --text-color-extra: #6d6d6d;

  --link-color: rgb(29, 155, 240);

  --loader-color: black;
  --loader-color-reverse: white;

  --color-blue: rgb(29, 155, 240);
  --color-white: white;

  --font-size-title: 24px;
  --font-size-subtitle: 20px;
  --font-size-text: 16px;
  --font-size-subtext: 14px;
  --font-size-mini: 12px;

  --header-height: 50px;

  --picture-post-max-height: 400px;
}
